{% extends "index.html" %} 

{% block title %}Certificates{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://cdn.pixabay.com/photo/2018/01/01/16/45/medal-3054508_1280.png" alt="">
                    <div class="intro-text">
                        <h1 class="name"></h1>
                        <hr class="star-light">
                        <span class="skills">These are my official UDEMY certificates</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Contact Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CCertificates</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 portfolio-item">
                    <a href="/static/img/HTML_Certificate.jpg" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <p>HTML/CSS</p>                                                                                            
                        <img src="/static/img/HTML_Certificate.jpg" class="img-responsive" alt="Circus tent">                                                                
                    </a>
                </div>      
            </div>
           
           <div class="row">
                <div class="col-lg-12 portfolio-item">
                    <a href="/static/img/Python_certificate.jpg" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <p>Python</p>                                                                                            
                        <img src="/static/img/Python_certificate.jpg" class="img-responsive" alt="Circus tent">                                                                
                    </a>
                </div>      
            </div>
        </section>

{% endblock%}

